# https://gist.github.com/bgauduch/06a8c4ec2fec8fef6354afe94358c89e

# git apply "last one wins" rule, thus this local config should be include at .gitconfig end
# https://stackoverflow.com/questions/4310974/more-than-one-value-for-the-key-user-name-git

[user]
    name = USERNAME
    email = USEREMAIL

# Different gitconfig according to remote url
# [includeIf "hasconfig:remote.*.url:git@github.com:**/**"]
#     path = ~/.dotfiles/git/gitconfig.github.local
# [includeIf "hasconfig:remote.*.url:https://github.com/**/**"]
#     path = ~/.dotfiles/git/gitconfig.github.local
#
# [includeIf "hasconfig:remote.*.url:git@gitlab.com:**/**"]
#     path = ~/.dotfiles/git/gitconfig.gitlab.local
# [includeIf "hasconfig:remote.*.url:https://gitlab.com/**/**"]
#     path = ~/.dotfiles/git/gitconfig.gitlab.local
