.vscode

cheatsheets
git/gitconfig.local
zsh/zshrc.local
zsh/zshenv.local

hammerspoon/Spoons/EmmyLua.spoon/annotations
config/github-copilot
config/githubnext__github-copilot-cli.json
config/gh-dash
config/neofetch
config/gh/hosts.yml
config/zsh_history
config/karabiner
config/sqlitestudio
config/thefuck
config/configstore
config/htop
config/iterm2
config/nnn
config/clash
config/dlv
config/oh-my-zsh
config/raycast
config/lazygit/state.yml

config/nvim/.luarc.json
config/ranger/trash_history

.luarc.json

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
