[submodule "zsh/custom/plugins/alias-tips"]
	path = zsh/custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
	shallow = true
[submodule "zsh/custom/plugins/fzf-tab"]
	path = zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	shallow = true
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	shallow = true
[submodule "zsh/custom/plugins/zsh-completions"]
	path = zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
	shallow = true
[submodule "zsh/custom/themes/powerlevel10k"]
	path = zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
