;; ref
;;   - example: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org
;;   - example configuration: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/resources/configurations/edn/example.edn
;;   - tutorial: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
;;   - keycodes: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj
;;   - karabiner:
;;     - keycodes: https://github.com/pqrs-org/Karabiner-Elements/blob/master/src/apps/PreferencesWindow/Resources/simple_modifications.json
;;     - modifiers keys: https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/#frommodifiersmandatory
;;     - complex_modifications manipulator definition: https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/
;;   - helpful user configuration examples
;;     - https://github.com/nikitavoloboev/dotfiles/blob/master/karabiner/karabiner.edn

;; code won't read cheatsheet section
;; ! for mandatory
;; # for optional
;; ## for optional any
;; C T O S for left command control optional shift
;; Q W E R for right command control optional shift
;; !! for mandatory command + control + optional + shift (hyper)
;; need to prefix C T O S F with ! or #
;; F for fn
;; P for caps_lock
{
  ;; Casesensitive
  :applications {
    :browser ["^com\\.microsoft\\.edgemac$" "^com\\.google\\.Chrome$" "^com\\.apple\\.Safari$"]
    :terminal ["^com\\.googlecode\\.iterm2$" "^com.jetbrains" "^com\\.microsoft\\.VSCode$" "^com\\.apple\\.Terminal$"]
    :intelliJ ["^com.jetbrains"]

    :IDEA ["^com\\.jetbrains\\.intellij\\.ce$"]
    :GoLand ["^com\\.jetbrains\\.goland$"]

    :Edge ["^com\\.microsoft\\.edgemac$"]
    :iTerm ["^com\\.googlecode\\.iterm2$"]
    :VSCode ["^com\\.microsoft\\.VSCode$"]
    :intelliJ-IDEA ["^com\\.jetbrains\\.intellij$"]
    :intelliJ-GoLand ["^com\\.jetbrains\\.goland$"]

    :WeChat ["^com\\.tencent\\.xinWeChat$"]
    :Discord ["^com\\.hnc\\.Discord$"]
    :Telegram ["^ru\\.keepcoder\\.Telegram$"]

    :Karabiner-Elements ["^org\\.pqrs\\.Karabiner-Elements\\.Preferences$"]
    :Karabiner-EventViewer ["^org\\.pqrs\\.Karabiner-EventViewer$"]
    :Hammerspoon ["^org\\.hammerspoon\\.Hammerspoon$"]

    :Obsidian ["^md\\.obsidian$"]
    :Notion ["^notion\\.id$"]
    :Things3 ["^com\\.culturedcode\\.ThingsMac$"]
    :Raindrop ["^io\\.raindrop\\.macapp$"]
    :Bitwarden ["^com\\.bitwarden\\.desktop$"]
    :Flomo ["^com\\.google\\.Chrome\\.app\\.mjnbhimggobpdngjimoodpenobognheo"]
    :PDFExpert ["^com\\.readdle\\.PDFExpert-Mac$"]
    :Youdao ["^com\\.youdao\\.YoudaoDict"]
    :Finder ["^com\\.apple\\.finder$"]
    :SystemReferences ["^com\\.apple\\.systempreferences$"]
    :Music ["^com\\.apple\\.Music$"]
    :Notes ["^com\\.apple\\.Notes$"]
    :ActivityMonitor ["^com\\.apple\\.ActivityMonitor$"]
  }

  :input-sources {
    :pinyin {
        :input_mode_id "com.apple.inputmethod.SCIM.Shuangpin"
        :input_source_id "com.apple.inputmethod.SCIM.Shuangpin"
        :language "zh-Hans"
    }
    :us {
      :input_mode_id ""
      :input_source_id "com.apple.keylayout.US"
      :language "en"
    }
  }

  :templates {
    ;; :launch "osascript -e 'tell application \"Alfred 3\" to run trigger \"launch%sument \"\"'"
    :open "open \"%s\""
    :openApp "/usr/local/bin/hs -c \"spoon.Win.openOrHideApp('%s')\""
    :safeOpen "/usr/local/bin/hs -c \"SafeOpen('%s')\""
    :edit "/usr/local/bin/code \"%s\""
    ;; AppleScipt keystroke and key code table: https://eastmanreference.com/complete-list-of-applescript-key-codes
    ;; have permission issues: 'System Events got an error: osascript is not allowed to send keystrokes.'
    ;; :alfred "osascript -e 'tell application \"Alfred 4\" to search' -e 'tell application \"System Events\" to keystroke \"%s\"'"
    ;; :alfred-execute "osascript -e 'tell application \"Alfred 4\" to search' -e 'tell application \"System Events\"' -e 'keystroke \"%s\"' -e 'key code 36' -e 'end tell'"
    :alfred "/usr/local/bin/hs -c \"Alfred('%s')\""
    :alfred-execute "/usr/local/bin/hs -c \"Alfred('%s', true)\""
    :alfred-flow "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
    :hs "/usr/local/bin/hs -c \"%s\""
    :script "/usr/local/bin/bash ~/.dotfiles/karabiner/scripts/%s"
  }

  ;;; helper function to generate things little bit quicker
  ;; quick define "layers" or "state" feature(use set_variable)
  ;; can use as conditions in rule list
  ;; {:<layer name> {:from <froms>}}
  :simlayers {
    ;; most frequently used modes
    ; :app-mode {:key :spacebar :condi :!terminal}
    :spacebar-mode {:key :spacebar}
    :terminal-mode {:key :j}
  }
  :simlayer-threshold 250

  ;; Examples
  ;; [:0 [:!!5] nil {:alone :pinyin}] change input method
  :main [
    {:des "keys without prefix"
      :rules [
        ; map caps_lock to control
        [:##caps_lock {:key :right_control} nil {:alone :escape}]
        ; super key
        ; [:##right_command {:key :right_command :modi [:right_control :right_option :right_shift]} nil {:alone :right_command}]
        [:escape :escape nil {:alone [:hs "spoon.Win.switchApp()"]}]
        ; [:##right_shift :right_shift nil {:alone [:hs "spoon.Win.activate()"]}] ;; Window management
        [:##right_command :right_command nil {:alone [:openApp "iTerm"]}]
        [:##right_shift :right_shift nil {:alone [:openApp "Obsidian"]}]
        [:##right_option :right_option nil {:alone [:openApp "Google Chrome"]}]
        [:##left_control :left_control nil {:alone [:hs "spoon.Win.activate()"]}] ;; Window management
      ]
    }
    {:des "Applications"
      :rules [
        ;; Applications
        [:!Tn [:openApp "Notion"]]
        [:!Ti [:openApp "Discord"]]
        [:!To [:openApp "WeChat"]]
        [:!Tz [:openApp "Things3"]]
        [:!Tc [:openApp "Google Chrome"]]
        [:!Tt [:openApp "Telegram"]]
        [:!Tv [:openApp "Visual Studio Code"]]
        [:!Tm [:openApp "Music"]]
        [:!Te [:openApp "Finder"]]
        [:!Tbackslash [:openApp "Bitwarden"]]
        [:!Tx [:openApp "flomo"]]
        [:!Tslash :!COSf12] ;; Quick flomo
        [:!Tr :!CTS4]  ;; Look word up in Eudic dictionary
        [:!Ty [:openApp "网易有道翻译"]]
      ]
    }
    {:des "left control"
      :rules [
        [:!Tgrave_accent_and_tilde :!OSv]  ; show clipboard (supported by Alfred)
        [:!Tspacebar :!CTOSspacebar]  ;; Alfred
        [:!Treturn_or_enter :!!5 :browser]
        [:!Treturn_or_enter [:!TOC5]] ;; add Things3 task
        [:!Tcomma [:hs "spoon.Config:activate()"]]  ;; Config
        [:!Tb [:hs "spoon.Bookmark:activate()"]]  ;; Bookmark
        ; ;; 1/2
        ; [:!Tleft_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.5, h = 1 })"]]
        ; [:!Tdown_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0.5, w = 1, h = 0.5 })"]]
        ; [:!Tright_arrow [:hs "spoon.Win.resizeWindow({ x = 0.5, y = 0, w = 0.5, h = 1 })"]]
        ; [:!Tup_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 1, h = 0.5 })"]]
        ; [:!TOleft_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.5, h = 1 }, true)"]]
        ; [:!TOdown_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0.5, w = 1, h = 0.5 }, true)"]]
        ; [:!TOright_arrow [:hs "spoon.Win.resizeWindow({ x = 0.5, y = 0, w = 0.5, h = 1 }, true)"]]
        ; [:!TOup_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 1, h = 0.5 }, true)"]]
        ; ;; 2/3
        ; [:!TSleft_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.66, h = 1 })"]]
        ; [:!TSdown_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0.34, w = 1, h = 0.66 })"]]
        ; [:!TSright_arrow [:hs "spoon.Win.resizeWindow({ x = 0.34, y = 0, w = 0.66, h = 1 })"]]
        ; [:!TSup_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 1, h = 0.66 })"]]
        ; [:!TSOleft_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.66, h = 1 }, true)"]]
        ; [:!TSOdown_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0.34, w = 1, h = 0.66 }, true)"]]
        ; [:!TSOright_arrow [:hs "spoon.Win.resizeWindow({ x = 0.34, y = 0, w = 0.66, h = 1 }, true)"]]
        ; [:!TSOup_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 1, h = 0.66 }, true)"]]
        ; ;; 1/3
        ; [:!TCleft_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.34, h = 1 })"]]
        ; [:!TCdown_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0.66, w = 1, h = 0.66 })"]]
        ; [:!TCright_arrow [:hs "spoon.Win.resizeWindow({ x = 0.66, y = 0, w = 0.34, h = 1 })"]]
        ; [:!TCup_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 1, h = 0.34 })"]]
        ; [:!TCOleft_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.34, h = 1 }, true)"]]
        ; [:!TCOdown_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0.66, w = 1, h = 0.34 }, true)"]]
        ; [:!TCOright_arrow [:hs "spoon.Win.resizeWindow({ x = 0.66, y = 0, w = 0.34, h = 1 }, true)"]]
        ; [:!TCOup_arrow [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 1, h = 0.34 }, true)"]]
        ; ;; more convenient binding
        ; ;; 1/2
        ; [:!Topen_bracket [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.5, h = 1 })"]]
        ; [:!Tclose_bracket [:hs "spoon.Win.resizeWindow({ x = 0.5, y = 0, w = 0.5, h = 1 })"]]
        ; [:!TOopen_bracket [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.5, h = 1 }, true)"]]
        ; [:!TOclose_bracket [:hs "spoon.Win.resizeWindow({ x = 0.5, y = 0, w = 0.5, h = 1 }, true)"]]
        ; ;; 2/3
        ; [:!TSopen_bracket [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.66, h = 1 })"]]
        ; [:!TSclose_bracket [:hs "spoon.Win.resizeWindow({ x = 0.34, y = 0, w = 0.66, h = 1 })"]]
        ; [:!TSOopen_bracket [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.66, h = 1 }, true)"]]
        ; [:!TSOclose_bracket [:hs "spoon.Win.resizeWindow({ x = 0.34, y = 0, w = 0.66, h = 1 }, true)"]]
        ; ;; 1/3
        ; [:!TCopen_bracket [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.34, h = 1 })"]]
        ; [:!TCclose_bracket [:hs "spoon.Win.resizeWindow({ x = 0.66, y = 0, w = 0.34, h = 1 })"]]
        ; [:!TCOopen_bracket [:hs "spoon.Win.resizeWindow({ x = 0, y = 0, w = 0.34, h = 1 }, true)"]]
        ; [:!TCOclose_bracket [:hs "spoon.Win.resizeWindow({ x = 0.66, y = 0, w = 0.34, h = 1 }, true)"]]
        ; ; center
        ; [:!Tsemicolon [:hs "spoon.Win.moveAndResize('fullscreen')"]]
        ; [:!Tquote [:hs "spoon.Win.resizeWindow({ x = 0.1, y = 0, w = 0.8, h = 1 })"]]
        ;; desktop navigation
        [:!Ta :!CTOf7] ;; Previous Space
        [:!Td :!CTOf9] ;; Next Space
        ;; move window to space and focus
        [:!TSa [:hs "MoveFocusedWindowToSpace('prev', true)"]]
        [:!TSd [:hs "MoveFocusedWindowToSpace('next', true)"]]
        [:!Tw :mission_control] ;; Mission Control
        ; [:!Tup_arrow :!!f11] ;; Show Desktop
        [:!Ts :!!f2] ;; Application Windows
        ;; move window to recent display and focus
        [:!Ttab [:hs "spoon.Win.moveToScreen('next')"]]
        ; [:!TSdelete_or_backspace [:hs "ShowFocusedWindowInfo()"]]
        ; Docker
        [:!Tq :!Tf3]  ;; focus on docker
        [:!TOq :!CTSf2]  ;; hide/show Dock
        ;; act like fn + f1..f12
        [:!Tf1 :display_brightness_decrement]
        [:!Tf2 :display_brightness_increment]
        [:!Tf3 :mission_control]
        [:!Tf4 :dashboard]
        [:!Tf7 :vk_consumer_previous]
        [:!Tf8 :play_or_pause]
        [:!Tf9 :vk_consumer_next]
        [:!Tf10 :mute]
        [:!Tf11 :volume_decrement]
        [:!Tf12 :volume_increment]
        ;; arrow key
        [:!Th [:left_arrow]]
        [:!Tj [:down_arrow]]
        [:!Tk [:up_arrow]]
        [:!Tl [:right_arrow]]
        [:!TSh [:!Sleft_arrow]]
        [:!TSj [:!Sdown_arrow]]
        [:!TSk [:!Sup_arrow]]
        [:!TSl [:!Sright_arrow]]
        [:!TOh [:!Oleft_arrow]]
        [:!TOj [:!Odown_arrow]]
        [:!TOk [:!Oup_arrow]]
        [:!TOl [:!Oright_arrow]]
        [:!TCh [:!Cleft_arrow]]
        [:!TCj [:!Cdown_arrow]]
        [:!TCk [:!Cup_arrow]]
        [:!TCl [:!Cright_arrow]]
        [:!TCSh [:!CSleft_arrow]]
        [:!TCSj [:!CSdown_arrow]]
        [:!TCSk [:!CSup_arrow]]
        [:!TCSl [:!CSright_arrow]]
        ;; home / end
        [:!Thyphen [:home]]
        [:!Tequal_sign  [:end]]
        [:!TShyphen [:!Shome]]
        [:!TSequal_sign  [:!Send]]
        ;; menu
        [:!Tdelete_or_backspace [:hs "RightClickFocusedWindow()"]]
      ]
    }
    {:des "spacebar mode"
      :rules [:spacebar-mode
        ;; previous / next tabs
        [:i :!CSopen_bracket :iTerm]
        [:o :!CSclose_bracket :iTerm]
        [:i :!TStab :Finder]
        [:o :!Ttab :Finder]
        [:i :!CSopen_bracket :VSCode]
        [:o :!CSclose_bracket :VSCode]
        [:i :!CSopen_bracket :intelliJ]
        [:o :!CSclose_bracket :intelliJ]
        [:i :up_arrow :WeChat]
        [:o :down_arrow :WeChat]
        [:i :!Oup_arrow :Discord]
        [:o :!Odown_arrow :Discord]
        [:i :!Oup_arrow :Telegram]
        [:o :!Odown_arrow :Telegram]
        [:i :!TStab]
        [:o :!Ttab]
        ;; home and end
        ; [:hyphen [:home]]
        ; [:equal_sign  [:end]]
        ; [:!Shyphen [:!Shome]]
        ; [:!Sequal_sign  [:!Send]]
        ;; mouse move
        [:k {:mkey {:y -1600 :speed 1.20}}]
        [:j {:mkey {:y 1600 :speed 1.20}}]
        [:h {:mkey {:x -1600 :speed 1.20}}]
        [:l {:mkey {:x 1600 :speed 1.20}}]
        [:!Sk {:mkey {:y -3200 :speed 1.10}}]
        [:!Sj {:mkey {:y 3200 :speed 1.10}}]
        [:!Sh {:mkey {:x -3200 :speed 1.10}}]
        [:!Sl {:mkey {:x 3200 :speed 1.10}}]
        [:!Ok {:mkey {:y -800 :speed 1.20}}]
        [:!Oj {:mkey {:y 800 :speed 1.20}}]
        [:!Oh {:mkey {:x -800 :speed 1.20}}]
        [:!Ol {:mkey {:x 800 :speed 1.20}}]
        ;; center mouse on focused window
        [:m [:hs "spoon.Win.centerCursor()"]]  ;; Config
        ;; scroll
        [:p {:mkey {:vwheel -32 :speed 1.30}}]
        [:n {:mkey {:vwheel 32 :speed 1.30}}]
        [:!Sp {:mkey {:vwheel -64 :speed 1.30}}]
        [:!Sn {:mkey {:vwheel 64 :speed 1.30}}]
        [:!Op {:mkey {:vwheel -20 :speed 1.30}}]
        [:!On {:mkey {:vwheel 20 :speed 1.30}}]
        ;; left click
        [:return_or_enter :button1]
        [:!Creturn_or_enter {:pkey :button1 :modi :left_command}]
        [:!Treturn_or_enter {:pkey :button1 :modi :left_control}]
        [:!Oreturn_or_enter {:pkey :button1 :modi :left_option}]
        [:!Sreturn_or_enter {:pkey :button1 :modi :left_shift}]
        ;; right click
        [:backslash :button2]
      ]
    }
    {:des "terminal (j)"
      :rules [[:condi :terminal-mode] ;; :terminal]
        ;; terminal
        [:escape [:!Tu :e :x :i :t :return_or_enter]] ; exit terminal
        [:r [:!Ta :t :l :d :r :spacebar :return_or_enter]] ; tldr
        [:u [:!Tu :c :l :e :a :r :return_or_enter]] ; clear screen
        ;; vim
        [:q [:escape :escape :!Ssemicolon :!Tu :q :!S1 :return_or_enter]] ; exit in vim
        [:w [:escape :escape :!Ssemicolon :!Tu :w :q :!S1 :return_or_enter]] ; save and exit in vim
        [:v [:spacebar :!Sbackslash :spacebar :v :i :m :spacebar :hyphen :return_or_enter]] ; temporary cat in vim
        ;; reload zsh
        [:z [:!Tu :e :x :e :c :spacebar :z :s :h :return_or_enter]]

        ;; zle widget
        [:c [:!Tg :c]] ; command cheatsheet
        [:g [:!Tg :g]] ; shortcut cheatsheet
        ;; [:v [:!Tg :v]] ; old cheat
        [:b [:!Tg :b]] ; git branch
        [:d [:!Tg :d]] ; git file
        [:l [:!Tg :l]] ; git commit
        [:h [:!Tg :h]] ; git file commit
        [:t [:!Tg :t]] ; git tag
        [:s [:!Tg :s]] ; git status
        [:e [:!Tg :e]] ; env
        [:a [:!Tg :a]] ; alias
        [:f [:!Tg :f]] ; env
        ;; reuse commands
        [:p [:!S1 :!S4 :return_or_enter]] ;; !$ last argument in last argument
        ;; [:6 [:!S1 :!S6 :return_or_enter]] ;; !^ first argument in last argument
        ;; [:8 [:!S1 :!S8 :return_or_enter]] ;; !* all arguments in last argument
        ;; [:9 [:!Tu :!S1 :!Ssemicolon :hyphen :return_or_enter]] ;; !-: last command excpt for last argument
        ;; [:0 [:!Tu :r :return_or_enter]] ;; execute last command
      ]
    }
  ]
}
