;; ref
;;   - example: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org
;;   - example configuration: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/resources/configurations/edn/example.edn
;;   - tutorial: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
;;   - keycodes: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj
;;   - karabiner:
;;     - keycodes: https://github.com/pqrs-org/Karabiner-Elements/blob/master/src/apps/PreferencesWindow/Resources/simple_modifications.json
;;     - modifiers keys: https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/#frommodifiersmandatory
;;     - complex_modifications manipulator definition: https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/
;;   - helpful user configuration examples
;;     - https://github.com/nikitavoloboev/dotfiles/blob/master/karabiner/karabiner.edn

;; code won't read cheatsheet section
;; ! for mandatory
;; # for optional
;; ## for optional any
;; C T O S for left command control optional shift
;; Q W E R for right command control optional shift
;; !! for mandatory command + control + optional + shift (hyper)
;; need to prefix C T O S F with ! or #
;; F for fn
;; P for caps_lock
{
  ;; Casesensitive
  :applications {
    :browser ["^com\\.microsoft\\.edgemac$" "^com\\.google\\.Chrome$" "^com\\.apple\\.Safari$"]
    :terminal ["^com\\.googlecode\\.iterm2$" "^com.jetbrains" "^com\\.microsoft\\.VSCode$" "^com\\.apple\\.Terminal$"]
    :intelliJ ["^com.jetbrains"]

    :Edge ["^com\\.microsoft\\.edgemac$"]
    :iTerm ["^com\\.googlecode\\.iterm2$"]
    :VSCode ["^com\\.microsoft\\.VSCode$"]
    :intelliJ-IDEA ["^com\\.jetbrains\\.intellij$"]
    :intelliJ-GoLand ["^com\\.jetbrains\\.goland$"]

    :WeChat ["^com\\.tencent\\.xinWeChat$"]
    :Discord ["^com\\.hnc\\.Discord$"]
    :Telegram ["^ru\\.keepcoder\\.Telegram$"]

    :Karabiner-Elements ["^org\\.pqrs\\.Karabiner-Elements\\.Preferences$"]
    :Karabiner-EventViewer ["^org\\.pqrs\\.Karabiner-EventViewer$"]
    :Hammerspoon ["^org\\.hammerspoon\\.Hammerspoon$"]

    :Finder ["^com\\.apple\\.finder$"]
    :SystemReferences ["^com\\.apple\\.systempreferences$"]
    :Music ["^com\\.apple\\.Music$"]
    :Notes ["^com\\.apple\\.Notes$"]
    :ActivityMonitor ["^com\\.apple\\.ActivityMonitor$"]
  }

  :input-sources {
    :pinyin {
        :input_mode_id "com.apple.inputmethod.SCIM.Shuangpin"
        :input_source_id "com.apple.inputmethod.SCIM.Shuangpin"
        :language "zh-Hans"
    }
    :us {
      :input_mode_id ""
      :input_source_id "com.apple.keylayout.US"
      :language "en"
    }
  }

  :templates {
    ;; :launch "osascript -e 'tell application \"Alfred 3\" to run trigger \"launch%sument \"\"'"
    :open "open \"%s\""
    :safeOpen "/usr/local/bin/hs -c \"safeOpen('%s')\""
    :edit "/usr/local/bin/code \"%s\""
    :yabai "/usr/local/bin/yabai -m %s"
    ;; execute for bsp or floating windows
    :yabai-bsp "if [[ $(/usr/local/bin/yabai -m query --windows --window | /usr/local/bin/jq -r '.floating') == 0 && $(/usr/local/bin/yabai -m query --spaces --window | /usr/local/bin/jq -r '.[0].type') == 'bsp' ]]; then /usr/local/bin/yabai -m %s; else /usr/local/bin/yabai -m %s; fi"
    :yabai-focus "cur_window=$(/usr/local/bin/yabai -m query --windows --window | /usr/local/bin/jq '.id' 2>/dev/null) && (%s) && /usr/local/bin/yabai -m window --focus ${cur_window}"
    ;; AppleScipt keystroke and key code table: https://eastmanreference.com/complete-list-of-applescript-key-codes
    ;; have permission issues: 'System Events got an error: osascript is not allowed to send keystrokes.'
    ;; :alfred "osascript -e 'tell application \"Alfred 4\" to search' -e 'tell application \"System Events\" to keystroke \"%s\"'"
    ;; :alfred-execute "osascript -e 'tell application \"Alfred 4\" to search' -e 'tell application \"System Events\"' -e 'keystroke \"%s\"' -e 'key code 36' -e 'end tell'"
    :alfred "/usr/local/bin/hs -c \"alfred('%s')\""
    :alfred-execute "/usr/local/bin/hs -c \"alfred('%s', true)\""
    :alfred-flow "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
    :hs "/usr/local/bin/hs -c \"%s\""
    :script "/usr/local/bin/bash ~/.dotfiles/karabiner/scripts/%s"
  }

  ;;; helper function to generate things little bit quicker
  ;; quick define "layers" or "state" feature(use set_variable)
  ;; can use as conditions in rule list
  ;; {:<layer name> {:from <froms>}}
  :simlayers {
    ;; most frequently used modes
    :space-mode {:key :spacebar}
    :mouse-mode {:key :a}
    :window-management-mode {:key :w}
    :terminal-mode {:key :j}

    :config-mode {:key :e}
    :browser-mode {:key :b}
  }
  :simlayer-threshold 250

  ;; some examples
  ;; [:0 [:!!5] nil {:alone :pinyin}] change input method
  :main [
    {:des "keys without prefix"
      :rules [
        [:##caps_lock {:key :right_command :modi [:right_control :right_option :right_shift]} nil {:alone :escape}]
        ; simultaneously =⌫ to delete backward
        ;; [[:equal_sign :delete_or_backspace] :delete_forward]
      ]
    }
    {:des "hyperkey (caps_lock) (QWER)"
      :rules [
        ;; Esc
        [:!QWERopen_bracket :escape]
        [:!QWERq :escape]
        ;; space -> enter
        [:!QWERspacebar :return_or_enter]
        [:!QWERCspacebar :!Creturn_or_enter]
        [:!QWERTspacebar :!Treturn_or_enter]
        [:!QWEROspacebar :!Oreturn_or_enter]
        [:!QWERSspacebar :!Sreturn_or_enter]
        ;; delete -> delete_forward
        [:!QWERdelete_or_backspace :delete_forward]
        ;; - -> home
        [:!QWERhyphen :!Cleft_arrow :WeChat]
        [:!QWERhyphen :!Cleft_arrow :VSCode]
        [:!QWERhyphen :!Ta :terminal]
        [:!QWERhyphen :home]
        ;; = -> end
        [:!QWERequal_sign :!Cright_arrow :WeChat]
        [:!QWERequal_sign :!Cright_arrow :VSCode]
        [:!QWERequal_sign :!Te :terminal]
        [:!QWERequal_sign :end]
        ;; better type
        ;; [:!QWERhyphen :!Shyphen]
        ;; [:!QWERequal_signls :!Sequal_sign]
        ;; [:!QWERslash :!Sslash]
        ;; [:!QWERbackslash :!Sbackslash]
        ;; arrow
        [:!QWERh :left_arrow]
        [:!QWERj :down_arrow]
        [:!QWERl :right_arrow]
        [:!QWERk :up_arrow]
        ;; arrow + command
        [:!QWERCh :!Cleft_arrow]
        [:!QWERCj :!Cdown_arrow]
        [:!QWERCl :!Cright_arrow]
        [:!QWERCk :!Cup_arrow]
        ;; arrow + ctrl
        [:!QWERTh :!Tleft_arrow]
        [:!QWERTj :!Tdown_arrow]
        [:!QWERTl :!Tright_arrow]
        [:!QWERTk :!Tup_arrow]
        ;; arrow + shift
        [:!QWERSh :!Sleft_arrow]
        [:!QWERSj :!Sdown_arrow]
        [:!QWERSl :!Sright_arrow]
        [:!QWERSk :!Sup_arrow]
        ;; arrow + option
        [:!QWEROh :!Oleft_arrow]
        [:!QWEROj :!Odown_arrow]
        [:!QWEROl :!Oright_arrow]
        [:!QWEROk :!Oup_arrow]
        ;; arrow + command + shift
        [:!QWERCSh :!CSleft_arrow]
        [:!QWERCSj :!CSdown_arrow]
        [:!QWERCSl :!CSright_arrow]
        [:!QWERCSk :!CSup_arrow]
        ;; arrow + command + option
        [:!QWERCOh :!COleft_arrow]
        [:!QWERCOj :!COdown_arrow]
        [:!QWERCOl :!COright_arrow]
        [:!QWERCOk :!COup_arrow]
        ;; arrow + ctrl + option
        [:!QWERTOh :!TOleft_arrow]
        [:!QWERTOj :!TOdown_arrow]
        [:!QWERTOl :!TOright_arrow]
        [:!QWERTOk :!TOup_arrow]
        ;; arrow + option + shift
        [:!QWEROSh :!OSleft_arrow]
        [:!QWEROSj :!OSdown_arrow]
        [:!QWEROSl :!OSright_arrow]
        [:!QWEROSk :!OSup_arrow]

        ;; right click menu on focused window
        [:!QWERm [:hs "rightClickFocusedWindow()"]]
        ;; system applicaton management
        [:!QWERa [:!Tf2 :down_arrow :right_arrow :right_arrow]]  ;; focus to menu bar
        [:!QWERs :!!f4] ;; Notification Center
        [:!QWERd :!Tf3]  ;; focus to docker
        [:!QWERCd :!CTSf2]  ;; hide/show Dock

        ;; system control
        ;; volume
        [:!QWERsemicolon :volume_decrement]
        [:!QWERquote :volume_increment]
        [:!QWERreturn_or_enter :mute]
        ;; play
        [:!QWERopen_bracket :vk_consumer_previous]
        [:!QWERclose_bracket :vk_consumer_next]
        [:!QWERbackslash :play_or_pause]
        ;; brightness
        [:!QWERcomma :display_brightness_decrement]
        [:!QWERperiod :display_brightness_increment]

        ;; ;; for command line
        ;; ;; caps_lock + ？ -> ctrl + ?
        ;; [:!QWERw :!Tw]  ;; delete last word
        ;; [:!QWERe :!Te]  ;; move to end
        ;; [:!QWERr :!Tr]  ;; history
        ;; ;; [:!QWERt :!Tt]
        ;; [:!QWERu :!Tu]  ;; clear to start
        ;; ;; [:!QWERi :!Ti]
        ;; [:!QWERo :!To]  ;; execute suggestion
        ;; ;; [:!QWERp :!Tp]
        ;; [:!QWERa :!Ta]  ;; move to start
        ;; ;; [:!QWERs :!Ts]
        ;; ;; [:!QWERd :!Td]
        ;; ;; [:!QWERf :!Tf]
        ;; ;; [:!QWERg :!Tg]
        ;; ;; [:!QWERz :!Tz]
        ;; ;; [:!QWERx :!Tx]
        ;; [:!QWERc :!Tc]  ;; interruption
        ;; ;; [:!QWERv :!Tv]
        ;; ;; [:!QWERb :!Tb]
        ;; ;; [:!QWERn :!Tn]
        ;; ;; [:!QWERm :!Tm]
      ]
    }
    {:des "mouse move (a)"
      :rules [:mouse-mode
        ;; mouse move
        [:k {:mkey {:y -1600}}]
        [:j {:mkey {:y 1600}}]
        [:h {:mkey {:x -1600}}]
        [:l {:mkey {:x 1600}}]
        [:!Ck {:mkey {:y -3200}}]
        [:!Cj {:mkey {:y 3200}}]
        [:!Ch {:mkey {:x -3200}}]
        [:!Cl {:mkey {:x 3200}}]
        [:!Ok {:mkey {:y -800}}]
        [:!Oj {:mkey {:y 800}}]
        [:!Oh {:mkey {:x -800}}]
        [:!Ol {:mkey {:x 800}}]
        ;; scroll
        [:u {:mkey {:vwheel -32}}]
        [:d {:mkey {:vwheel 32}}]
        [:!Cu {:mkey {:vwheel -64}}]
        [:!Cd {:mkey {:vwheel 64}}]
        [:!Ou {:mkey {:vwheel -16}}]
        [:!Od {:mkey {:vwheel 16}}]
        ;; left click
        [:return_or_enter :button1]
        [:!Creturn_or_enter {:pkey :button1 :modi :left_command}]
        [:!Treturn_or_enter {:pkey :button1 :modi :left_control}]
        [:!Oreturn_or_enter {:pkey :button1 :modi :left_option}]
        [:!Sreturn_or_enter {:pkey :button1 :modi :left_shift}]
        ;; right click
        [:spacebar :button2]
        [:q :escape]
      ]
    }
    {:des "window management (w)"
      :rules [:window-management-mode
        ;; :resize-window is defined in :templates
        ;; 1/2 screen
        [:a [:yabai-bsp "window --swap prev" "window --grid 2:2:0:0:1:2"]]
        [:d [:yabai-bsp "window --swap next" "window --grid 2:2:1:0:1:2"]]
        [:x [:yabai-bsp "window --warp prev" "window --grid 2:2:0:1:2:1"]]
        [:s [:yabai-bsp "window --warp next" "window --grid 2:2:0:0:2:1"]]
        ;; 2/3 screen
        [:!Ca [:yabai "window --grid 2:3:0:0:2:2"]]
        [:!Cd [:yabai "window --grid 2:3:1:0:2:2"]]
        [:!Cx [:yabai "window --grid 3:2:0:1:2:2"]]
        [:!Cs [:yabai "window --grid 3:2:0:0:2:2"]]
        ;; 1/3 screen
        [:!Sa [:yabai "window --grid 2:3:0:0:1:2"]]
        [:!Sd [:yabai "window --grid 2:3:2:0:1:2"]]
        [:!Sx [:yabai "window --grid 3:2:0:2:2:1"]]
        [:!Ss [:yabai "window --grid 3:2:0:0:2:1"]]
        [:!Se [:yabai "window --grid 3:2:0:1:2:1"]]
        [:!Sr [:yabai "window --grid 2:3:1:0:1:2"]]

        ;; corner screen
        [:y [:yabai-bsp "space --mirror y-axis" "window --grid 2:2:0:0:1:1"]]
        [:i [:yabai-bsp "space --mirror x-axis" "window --grid 2:2:0:1:1:2"]]
        [:u [:yabai-bsp "space --rotate 90" "window --grid 2:2:1:0:1:1"]]
        [:o [:yabai-bsp "space --rotate 270" "window --grid 2:2:1:1:1:2"]]

        ;; 1/2 screen (layout)
        [:h [:hs "resizeWindow('[0, 0, 50, 100]', '[50, 0, 100, 100]')"]]
        [:l [:hs "resizeWindow('[50, 0, 100, 100]','[0, 0, 50, 100]')"]]
        [:j [:hs "resizeWindow('[0, 50, 100, 100]','[0, 0, 100, 50]')"]]
        [:k [:hs "resizeWindow('[0, 0, 100, 50]','[0, 50, 100, 100]')"]]
        ;; 2/3 screen (layout)
        [:!Ch [:hs "resizeWindow('[0, 0, 66, 100]','[66, 0, 100, 100]')"]]
        [:!Cl [:hs "resizeWindow('[34, 0, 100, 100]','[0, 0, 34, 100]')"]]
        [:!Cj [:hs "resizeWindow('[0, 34, 100, 100]','[0, 0, 100, 34]')"]]
        [:!Ck [:hs "resizeWindow('[0, 0, 100, 66]','[0, 66, 100, 100]')"]]
        ;; 1/3 screen (layout)
        [:!Sh [:hs "resizeWindow('[0, 0, 34, 100]','[34, 0, 100, 100]')"]]
        [:!Sl [:hs "resizeWindow('[66, 0, 100, 100]','[0, 0, 66, 100]')"]]
        [:!Sj [:hs "resizeWindow('[0, 66, 100, 100]','[0, 0, 100, 66]')"]]
        [:!Sk [:hs "resizeWindow('[0, 0, 100, 34]','[0, 34, 100, 100]')"]]

        ;; full screen
        [:g [:yabai "window --grid 2:2:0:0:2:2"]]
        ;; center screen
        [:c [:yabai "window --grid 2:5:1:0:3:2"]]
        [:!Cc [:yabai "window --grid 2:4:1:0::2"]]
        ;; maximize Window
        [:f :!Creturn_or_enter :iTerm]
        [:f :!CTf] ;; Maximize Window
        [:m :!Cm] ;; Minimize Window

        ;; resize window
        ;; [:left_arrow [:yabai "window --move rel:-10:0"]]
        ;; [:right_arrow [:yabai "window --move rel:10:0"]]
        ;; [:up_arrow [:yabai "window --move rel:0:-10"]]
        ;; [:down_arrow [:yabai "window --move rel:0:+10"]]
        ;; [:!Cleft_arrow [:yabai "window --resize right:-50:0"]]
        ;; [:!Cright_arrow [:yabai "window --resize right:+50:0"]]
        ;; [:!Cup_arrow [:yabai "window --resize bottom:0:-50"]]
        ;; [:!Cdown_arrow [:yabai "window --resize bottom:0:+50"]]

        ;; Duplicated keys from space-mode
        ;; show active windows (supported by HammerSpoon)
        [:tab :!CTSslash]
        ;; move window to space but no focus
        [:hyphen [:yabai "window --space prev"]]
        [:equal_sign [:yabai "window --space next"]]
        ;; move window to space and focus
        [:open_bracket [:yabai-focus "/usr/local/bin/yabai -m window --space prev"]]
        [:close_bracket [:yabai-focus "/usr/local/bin/yabai -m window --space next"]]
        ;; move window to recent display and focus
        [:backslash [:!CTSf]]  ;; supported by HammerSpoon
        ;; show window and sapce information from yabai
        [:return_or_enter [:hs "showSpaceWindowInfo()"]]  ;; supported by HammerSpoon
      ]
    }
    {:des "space"
      :rules [:space-mode
        ;; previous / next tabs
        [:i :!CSopen_bracket :iTerm]
        [:o :!CSclose_bracket :iTerm]
        [:i :!Copen_bracket :Finder]
        [:o :!Cclose_bracket :Finder]
        [:i :!CSopen_bracket :VSCode]
        [:o :!CSclose_bracket :VSCode]
        [:i :!CSopen_bracket :intelliJ]
        [:o :!CSclose_bracket :intelliJ]
        [:i :up_arrow :WeChat]
        [:o :down_arrow :WeChat]
        [:i :!Oup_arrow :Discord]
        [:o :!Odown_arrow :Discord]
        [:i :!Oup_arrow :Telegram]
        [:o :!Odown_arrow :Telegram]
        [:i :!TStab]
        [:o :!Ttab]

        ;; hide windows
        [:tab :!Cm :Hammerspoon]  ;; Hammerspoon can't be hinded by cmd-h
        [:tab :!Ch]

        ;; space navigation
        [:a :!CTOf7] ;; Previous Space
        [:d :!CTOf9] ;; Next Space
        [:s :mission_control] ;; Mission Control
        ;; display navigation
        ;; [:caps_lock {:shell "/usr/local/bin/yabai -m display --focus recent || /usr/local/bin/yabai -m display --focus prev || /usr/local/bin/yabai -m display --focus next; sleep 0.5; /usr/local/bin/hs -c \"showDisplayInfo()\""}]
        [:caps_lock :!CTSg]  ;; recent display (supported by HammerSpoon)

        ;; move window to space but no focus
        [:hyphen [:yabai "window --space prev"]]
        [:equal_sign [:yabai "window --space next"]]
        ;; move window to space and focus
        [:open_bracket [:yabai-focus "/usr/local/bin/yabai -m window --space prev"]]
        [:close_bracket [:yabai-focus "/usr/local/bin/yabai -m window --space next"]]
        ;; move window to recent display and focus
        [:backslash [:!CTSf]]  ;; supported by HammerSpoon
        ;; show window and sapce information from yabai
        [:return_or_enter [:hs "showSpaceWindowInfo()"]]  ;; supported by HammerSpoon
        ;; space layout
        ;; [:open_bracket {:shell "/usr/local/bin/yabai -m space --layout float; /usr/local/bin/yabai -m window --grid 2:4:1:0:2:2; /usr/local/bin/hs -c \"hs.alert(\\\"to FLOATING Space\\\")\""}]
        ;; [:close_bracket {:shell "/usr/local/bin/yabai -m space --layout bsp; /usr/local/bin/hs -c \"hs.alert(\\\"to BSP Space\\\")\""}]
        ;; ;; window layout (only in bsp space)
        ;; [:backslash {:shell "/usr/local/bin/yabai -m window --toggle float; if [[ $(/usr/local/bin/yabai -m query --windows --window | /usr/local/bin/jq '.floating') == '1' ]]; then msg='FLOATING Window'; else msg='BSP Window'; fi; if [[ \"$msg\" == 'FLOATING Window' ]]; then /usr/local/bin/yabai -m window --grid 2:4:1:0:2:2; fi; /usr/local/bin/hs -c \"hs.alert(\\\"To $msg\\\")\""}]

        [:1 :!CTOSspacebar]  ;; Alfred
        [:2 [:!!5]]  ;; add Things3 task
        [:3 :!OSv]  ; show clipboard (supported by Alfred)
        [:4 :!CTS4]  ;; Look word up in Eudic dictionary
        [:8 :!!f11] ;; Show Desktop
        [:9 :!!f2] ;; Application Windows
        [:0 :launchpad]  ;; Expose

        ;; open application
        [:q [:open "/Applications/Things3.app"]]
        [:w [:safeOpen "com.jetbrains.intellij.ce"]]
        [:e [:open "/System/Library/CoreServices/Finder.app"]]
        [:r [:open "/Applications/Obsidian.app"]]
        [:t [:safeOpen "ru.keepcoder.Telegram"]]
        [:y [:open "/Applications/网易有道词典.app"]]
        [:u [:open "/Applications/Dash.app"]]
        [:p [:safeOpen "com.readdle.PDFExpert-Mac"]]
        ;; [:f ]
        ;; [:g ]
        [:h [:open "/Applications/Google Chrome.app"]]
        [:j [:!TOf12]] ;; iTerm2
        [:k [:open "/Applications/Visual Studio Code.app"]]
        ;; [:l ]
        [:z [:safeOpen "com.tencent.xinWeChat"]]
        [:x [:safeOpen "com.jetbrains.goland"]]
        [:c [:safeOpen "com.hnc.Discord"]]
        [:v [:safeOpen "io.raindrop.macapp"]]
        [:b [:open "/Applications/Bitwarden.app"]]
        [:n [:open "/System/Applications/Notes.app/"]]
        [:m [:open "/System/Applications/Music.app/"]]
      ]
    }
    {:des "configuration (e)"
      :rules [:config-mode
        [:l [:open "/Applications/Karabiner-EventViewer.app"]]
        [:k [:open "/Applications/Karabiner-Elements.app"]]
        [:h [:open "/Applications/Hammerspoon.app"]]
        [:p [:open "/System/Applications/System Preferences.app"]]
        [:m [:open "/System/Applications/Utilities/Activity Monitor.app/"]]

        ;; reload hammerspoon, goku
        [:r [:script "reload_config.sh"]]
      ]
    }
    {:des "browser (b)"
      :rules [:browser-mode
        ;; [:i [:alfred-execute "cdcd"]]
        [:w [:open "https://webo.com"]]
        [:t [:open "https://twitter.com"]]
        [:g [:open "https://github.com/notifications"]]
        [:l [:open "https://www.bilibili.com/watchlater/#/list"]]
        [:m [:open "https://mail.google.com/mail"]]
        [:k :!COb :browser] ;; open bookmarks

        ;; open documentation in browser
        ;; goku
        [:1 {:shell "open https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org https://github.com/yqrashawn/GokuRakuJoudo/blob/master/resources/configurations/edn/example.edn https://github.com/nikitavoloboev/dotfiles/blob/master/karabiner/karabiner.edn"}]
        ;; yabai
        [:2 {:shell "open https://github.com/koekeishiya/yabai/wiki/Commands https://github.com/koekeishiya/yabai/blob/master/doc/yabai.asciidoc"}]
        ;; Hammerspoon
        [:3 {:shell "open https://www.hammerspoon.org/docs/index.html"}]
        ;; AppleScript
        [:4 {:shell "open https://eastmanreference.com/complete-list-of-applescript-key-codes https://sspai.com/post/46912 https://sspai.com/post/43758"}]

        ;; development documentation
        [:0 {:shell "open https://www.baeldung.com/ https://www.geeksforgeeks.org https://stackoverflow.com/ https://programming-idioms.org/cheatsheet/Java"}]
        [:slash {:shell "open https://learnxinyminutes.com https://devhints.io https://quickref.me"}]
      ]
    }
    {:des "terminal (j)"
      :rules [[:condi :terminal-mode :terminal]
        ;; terminal
        [:escape [:!Tu :e :x :i :t :return_or_enter]] ; exit terminal
        [:r [:!Ta :t :l :d :r :spacebar :return_or_enter]] ; tldr
        [:u [:!Tu :c :l :e :a :r :return_or_enter]] ; clear screen
        ;; vim
        [:q [:escape :escape :!Ssemicolon :!Tu :q :!S1 :return_or_enter]] ; exit in vim
        [:w [:escape :escape :!Ssemicolon :!Tu :w :q :!S1 :return_or_enter]] ; save and exit in vim
        [:v [:spacebar :!Sbackslash :spacebar :v :i :m :spacebar :hyphen :return_or_enter]] ; temporary cat in vim
        ;; reload zsh
        [:z [:!Tu :e :x :e :c :spacebar :z :s :h :return_or_enter]]

        ;; zle widget
        [:c [:!Tg :c]] ; command cheatsheet
        [:g [:!Tg :g]] ; shortcut cheatsheet
        ;; [:v [:!Tg :v]] ; old cheat
        [:b [:!Tg :b]] ; git branch
        [:d [:!Tg :d]] ; git file
        [:l [:!Tg :l]] ; git commit
        [:h [:!Tg :h]] ; git file commit
        [:t [:!Tg :t]] ; git tag
        [:s [:!Tg :s]] ; git status
        [:e [:!Tg :e]] ; env
        [:a [:!Tg :a]] ; alias
        [:f [:!Tg :f]] ; env
        ;; reuse commands
        [:p [:!S1 :!S4 :return_or_enter]] ;; !$ last argument in last argument
        ;; [:6 [:!S1 :!S6 :return_or_enter]] ;; !^ first argument in last argument
        ;; [:8 [:!S1 :!S8 :return_or_enter]] ;; !* all arguments in last argument
        ;; [:9 [:!Tu :!S1 :!Ssemicolon :hyphen :return_or_enter]] ;; !-: last command excpt for last argument
        ;; [:0 [:!Tu :r :return_or_enter]] ;; execute last command
      ]
    }
  ]
}
